/* ヘッダーのleft,center,rightのwidthを合計したpx値と、
body,wrapper,ヘッダー・フッター・ジムボディ共通定義のwidthのpx値を揃えました。
2/28 入江 */

/*
* body定義
*/
body {
    overflow: hidden;
    width:100%;
    background-repeat: repeat;
    background-image: url("/kikin/pages/pp/image/kobanagara1.png");
}
errorbody {
    background-color: red;
}
#wrapper {
    width:99%;
    height:100%;
    padding:0px;
}


/*
* ヘッダー、フッター共通定義
*/
#header,#gymBody,#footer {
    width: 100%;
    margin: 0px;
    padding: 5px auto;
}

/*
* ヘッダー定義
*/
#header {
    top: 2px;
    height: 50px;
}
#headLeft {
    width:250px;
    text-align:left;
}
#headCenter {
    font-size: 24px;
    color: #ff8080;
    width:100%;
    text-align:center;
}
#headRight {
    width:250px;
    text-align:right;
}

.titel{
    width: 300px;
    height: 35px;
    background-color: #ffffbb;
    border: 3px dashed #ff9872;
    border-radius: 45px;
    margin: auto;	
}

/*
* メニュー画面のボタン
*/
.menuBlock {
    margin-left:60px;
    float:left;
    text-align:center;
    padding:30px;
}

/*
* 業務body定義
*/
#gymBody {
    height: 82%;
    overflow: auto;
}

/*
* フッター定義
*/
#footer {
    bottom: 1%;
    height: 70px;
    width: 100%;
}
#footLeft {
    float:left;
    width:500px;
    text-align:left;
}
#footCenter {
    width:100%;
    text-align:center;
}
#footRight {
    float:right;
    width:400px;
    text-align:right;
}
/*
* エラーページ ヘッダー、フッター共通定義
*/
#errorHeader,#errorGymBody,#errorFooter {
    width: 100%;
    margin: 0px;
    padding: 5px;
    background-color: #FFA4C6;
}

/*
* エラーページ ヘッダー定義
*/
#errorHeader {
    top: 1%;
    height: 6%;
    text-align: center;
    font-size: 24px;
    color: #FFFF00;
}

/*
* エラーページ 業務body定義
*/
#errorGymBody {
    top: 8%;
    height: 80%;
    overflow: auto;
    font-weight: bold;
    color: black;
}

/*
* エラーページ フッター定義
*/
#errorFooter {
    bottom: 1%;
    height: 10%;
}

/*
* ボタンサイズ通常
*/
.smlButton {
    width: 100px;
    height: 30px;
    display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	/* width: 120px; */
	margin: auto;
	font-weight: bold;
	color:#ffc489;
	background-color: #ffff89;
	border-color: #ffff89;
	border-right-color: #ffff89;
	border-bottom: 2px solid #ffc489;
	border-radius: 100vh;
	box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
	transition: 0.5s;
}
.smlButton:hover {
	color: #ffff89;
	background: #ffc489;
	border-bottom: 2px solid #ffff89;
	transform: translateY(3px);
}

/*
* ボタンサイズ大
*/
.bigButton {
    width: 200px;
    height: 50px;
    display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	/* width: 120px; */
	margin: auto;
	font-weight: bold;
	color:#ffc489;
	background-color: #ffff89;
	border-color: #ffff89;
	border-right-color: #ffff89;
	border-bottom: 2px solid #ffc489;
	border-radius: 100vh;
	box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
	transition: 0.5s;
}
.bigButton:hover {
	color: #ffff89;
	background: #ffc489;
	border-bottom: 2px solid #ffff89;
	transform: translateY(3px);
}

/*
* ボタンサイズロング
*/
.lngButton {
    width: 150px;
    height: 30px;
    display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	/* width: 120px; */
	margin: auto;
	font-weight: bold;
	color:#ffc489;
	background-color: #ffff89;
	border-color: #ffff89;
	border-right-color: #ffff89;
	border-bottom: 2px solid #ffc489;
	border-radius: 100vh;
	box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
	transition: 0.5s;
}
.lngButton:hover {
	color: #ffff89;
	background: #ffc489;
	border-bottom: 2px solid #ffff89;
	transform: translateY(3px);
}

.button {
    display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	/* width: 120px; */
	font-weight: bold;
	color:#ffc489;
	background-color: #ffff89;
	border-color: #ffff89;
	border-right-color: #ffff89;
	border-bottom: 2px solid #ffc489;
	border-radius: 100vh;
	box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
	transition: 0.5s;
}
.button:hover {
	color: #ffff89;
	background: #ffc489;
	border-bottom: 2px solid #ffff89;
	transform: translateY(3px);
}

/*
* 戻るボタンのスタイル
*/
.backBtn {
    top: 5px;
    left: 10px;
}

/*
* テーブルヘッダーのスタイル
*/
.tblHeader {
    background-color: #98FB98;
    font-weight: bold;
}

/*
* テーブルボディのスタイル
*/
.tblBody {
    background-color: #E0FFFF;
}
/*
* 文字色 黒
*/
.fontBlack {
    color: black;
}

/*
* 文字色 青
*/
.cp_bgpattern12 {
	background-color:transparent;
	background-image:
	radial-gradient(rgb(213, 255, 213) 10px, transparent 3px);
	background-size: 30px 30px;
}

.fontBlue {
    color: blue;
}

/*
* 文字色 赤
*/
.fontRed {
    color: red;
}

#syukusyou{
	 transform: scale(0.95);
	 text-align: -webkit-center;
}

#mannaka{
    text-align: -webkit-center;
}

#mannaka2{
    margin-left:130px;
}